/* Primary colors */
$font-base-color: #ffffff;
$color-yellow: #ffcb00;

/* Typography */
$font-family: 'Rubik', sans-serif;
$font-size: 16;
$font-size-base: 1rem;
$line-height-base: 1.5;

/* Media queries */
$extraSmall: 340px;
$smallPhone: 400px;
$bigPhone: 480px;
$mobile: 600px;
$smallTablet: 768px;
$bigTablet: 1024px;
$extraSmallDesktop: 1120px;
$smallDesktop: 1280px;
$middleDesktop: 1366px;
$bigDesktop: 1400px;
$largeDesktop: 1600px;
$extraDesktop: 1920px;
